# Cam's jupyter example


## has subheadings


### can do this

set the wd

In [1]:
setwd('/Users/Cam/Desktop/Alana') #change this

## Load in the data
talk about structures here

In [2]:

#this is where you loaded the data in
t1 = read.table('test1.txt', sep='\t',header=T)
t2 = read.table('test.txt', sep='\t',header=T)

In [3]:
# check that these match your data type
t1

   id001 target
1   0    0.025197
2   1    0.026658
3   2    0.024235
4   3    0.014459
5   4    0.035574
6   5    0.041331
7   6    0.016688
8   8    0.032340
9  10    0.047226
10 11    0.052472
11 12    0.033074

In [4]:
t2

   id002 target
1   0    0.025197
2   1    0.026658
3   2    0.024235
4   3    0.014459
5   4    0.035574
6   5    0.041331
7   6    0.016688
8   8    0.032340
9  10    0.047226
10 11    0.052472
11 12    0.033074

all the data is shown below

In [5]:
flight_sims = list(t1,t2)

In [6]:

#we make an empty dataframe we will add to
new_df = data.frame(matrix(ncol = 2, nrow = 0))
columns = c('id','data_col')
colnames(new_df) = columns

new_df #check the headers are right


#you could add an additional column in below if you wish to retain more data
for(bfly in flight_sims){
	id = names(bfly)[1]	 #this relies on the first column being the id name
	dat = data.frame(id=rep(id, length(bfly[,id])), data_col =list(bfly[id]))
	colnames(dat) = columns
	new_df = rbind(new_df, dat)
}

#this is your dataframe with the id's of the butterflies in col 1 
#and the data is now in column 1
new_df #can save this to a .csv

     id data_col

   id    data_col
1  id001  0
2  id001  1
3  id001  2
4  id001  3
5  id001  4
6  id001  5
7  id001  6
8  id001  8
9  id001 10
10 id001 11
11 id001 12
12 id002  0
13 id002  1
14 id002  2
15 id002  3
16 id002  4
17 id002  5
18 id002  6
19 id002  8
20 id002 10
21 id002 11
22 id002 12